<div>
	<div class="card">
		<div class="card-header  text-white bg-success bg-gradient">
			<span class="fs-4">Kullanıcı Listesi</span>
			<a href="#" id="btnEkle" class="btn btn-warning ms-2">Kullanıcı Ekle</a>
		</div>
		<div class="card-body" style="overflow:auto">
			<table id="tblUsers" class="table table-bordered table-striped" style="width:100%">
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Kullanıcı Ekle </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="mb-3">
						<label class="form-label">Ad</label>
						<input type="text" id="txtName" class="form-control">
					</div>
					<div class="mb-3">
						<label class="form-label">Kullanıcı Adı</label>
						<input type="text" id="txtUserName" class="form-control">
					</div>
					<div class="mb-3">
						<label class="form-label">Password</label>
						<input type="text" id="txtPassword" class="form-control">
					</div>
					<div class="mb-3">
						<label class="form-label">Yetki</label>
						<select class="form-control select2" id="Authorization" name="Authorization" placeholder="Yeki"></select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
				<a href="#" id="btnSave" class="btn btn-primary">Kaydet</a>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script>
		var DataTable;

		$(document).ready(function () {
			fillDataTable();
			fillDdlAuthorization();
		})

		function fillDataTable() {
			DataTable = $('#tblUsers').DataTable({
				ajax: '/User/GetAll',
				columns: [
					{ data: 'id', title: 'Id', width: '350px' },
					{ data: 'name', title: 'Şube Adı' },
					{ data: 'userName', title: 'Kullancı Adı' },
					{ data: 'password', title: 'Şifre' },
					{ data: 'authorizationRole.name', title: 'Yetki' },
					{
						data: 'id', title: 'İşlemler', render: function (data) {
							return `
													<a href="#" onclick="deleteUser('${data}')" class="btn btn-danger">Sil</a>
													<a href="#" onclick="editUser('${data}')" class="btn btn-primary">Düzenle</a>
											`;
						}
					}
				]
			})
		}

		$('#btnEkle').click(function () {
			$('#modal').modal('show');
			$('#modalTitle').text("Kullanıcı Ekle");
			$('#btnSave').removeClass('btn-success').addClass('btn-primary').text('Kaydet');
			$('#txtName').val("");
			$('#txtUserName').val("");
			$('#txtPassword').val("");
			$('#Authorization').val("");
			$('#btnSave').off();

			$('#btnSave').click(function () {
				let veri = {
					name: $('#txtName').val(),
					userName: $('#txtUserName').val(),
					password: $('#txtPassword').val(),
					authorizationRoleId: $('#Authorization option:selected').val()
				}
				$.ajax({
					type: 'Post',
					url: '/User/Create',
					data: veri,
					success: function () {
						toastr.success('Kullanıcı başarıyla eklendi!');
						DataTable.ajax.reload();
						$('#modal').modal('hide');
					},
					error: function () {
						toastr.error('Kullanıcı eklenirken bir hata meydana geldi!');
						DataTable.ajax.reload();
						$('#modal').modal('hide');
					}
				})
			})
		})

		function editUser(userId) {
			$.ajax({
				type: 'Post',
				url: '/User/GetById',
				data: { id: userId },
				success: function (res) {
					$('#modal').modal('show');
					$('#modalTitle').text("Kullanıcı Düzenle");
					$('#btnSave').removeClass('btn-primary').addClass('btn-success').text('Güncelle');
					$('#btnSave').off();

					$('#txtName').val(res.name);
					$('#txtUserName').val(res.userName);
					$('#txtPassword').val(res.password);
					$('#Authorization').val(res.authorizationRoleId).trigger('change');

					$('#btnSave').click(function () {
						
						let veri = {
							id: res.id,
							name: $('#txtName').val(),
							userName: $('#txtUserName').val(),
							password: $('#txtPassword').val(),
							authorizationRoleId: $('#Authorization option:selected').val()
						}

						$.ajax({
							type: 'Post',
							url: '/User/Update',
							data: veri,
							success: function(){
								toastr.success('Kullanıcı bilgileri başarıyla güncellendi');
								DataTable.ajax.reload();
								$('#modal').modal('hide');
							},
							error: function(){
								toastr.error('Kullanıcı bilgileri güncellenirkenbir hata meydana geldi!');
								DataTable.ajax.reload();
								$('#modal').modal('hide');
							}
						});
					});
				}
			});
		}

		function deleteUser(userId) {
			Swal.fire({
				title: 'Silmek istediğinize emin misiniz?',
				text: "Kullanıcı Silinecek",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3095d6',
				cancelButtonColor: '#d37',
				confirmButtonText: 'Sil!'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						type: 'Post',
						url: '/User/Remove',
						data: {
							id: userId
						},
						success: function () {
							Swal.fire(
								'Başarılı!',
								'Kullanıcı silindi.',
								'success'
							);
							DataTable.ajax.reload();
						},
						error: function () {
							Swal.fire({
								icon: 'error',
								title: 'Silme işlemi başarısız!',
								text: 'Bir şeyler yanlış gitti!'
							});
						}
					});
				}
			});
		}

		function fillDdlAuthorization() {
			$('#Authorization').select2({ width: '100%', dropdownParent: $('#modal') });
			$.ajax({
				type: 'Get',
				url: '/AuthorizationRole/GetAll',
				success: function (res) {
					console.log(res);
					$('#Authorization').empty();
					for (var item of res.data) {
						$('#Authorization').append(new Option(item.name, item.id, false, false));
					}
				}
			});
		}

	</script>
}