<div>
	<div class="card">
		<div class="card-header  text-white bg-success bg-gradient">
			<span class="fs-4">Kullanıcı Listesi</span>
			<a href="#" id="btnEkle" class="btn btn-warning ms-2">Kullanıcı Ekle</a>
		</div>
		<div class="card-body" style="overflow:auto">
			<table id="tblUsers" class="table table-bordered table-striped" style="width:100%">
			</table>
		</div>
	</div>
</div>

@section Scripts{
	<script>
		var DataTable;

		$(document).ready(function () {
			fillDataTable();
		})

		function fillDataTable() {
			DataTable = $('#tblUsers').DataTable({
				ajax: '/User/GetAll',
				columns: [
					{ data: 'id', title: 'Id', width: '350px' },
					{ data: 'name', title: 'Şube Adı' },
					{ data: 'userName', title: 'Kullancı Adı' },
					{ data: 'password', title: 'Şifre' },
					{ data: 'authorizationRoleId', title: 'Yetki' },
					{
						data: 'id', title: 'İşlemler', render: function (data) {
							return `
											<a href="#" onclick="deleteUser('${data}')" class="btn btn-danger">Sil</a>
											<a href="#" onclick="editUser('${data}')" class="btn btn-primary">Düzenle</a>
									`;
						}
					}
				]
			})
		}


		function deleteBranch(userId) {
			Swal.fire({
				title: 'Silmek istediğinize emin misiniz?',
				text: "Kullanıcı Silinecek",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3095d6',
				cancelButtonColor: '#d37',
				confirmButtonText: 'Sil!'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						type: 'Post',
						url: '/User/Remove',
						data: {
							id: userId
						},
						success: function () {
							Swal.fire(
								'Başarılı!',
								'Kullanıcı silindi.',
								'success'
							);
							DataTable.ajax.reload();
						},
						error: function () {
							Swal.fire({
								icon: 'error',
								title: 'Silme işlemi başarısız!',
								text: 'Bir şeyler yanlış gitti!'
							});
						}
					});
				}
			});
		}

	</script>
}