<div class="container-fluid">
	<form method="post"  asp-controller="Cargo">
		<div class="row">
			<div class="col-md-10">
				<h4>Gönderici Bilgileri</h4>
				<table class="table">
					<tbody>
						<tr>
							<th scope="row">Adı</th>
							<td><input type="text" class="form-control" id="SenderName" name="SenderName" placeholder="Gönderici Adı"></td>
						</tr>
						<tr>
							<th scope="row">Soyadı</th>
							<td><input type="text" class="form-control" id="SenderSurname" name="SenderSurname" placeholder="Gönderici Soyadı"></td>
						</tr>
						<tr>
							<th scope="row">Telefon</th>
							<td><input type="text" class="form-control" id="SenderPhone" name="SenderPhone" placeholder="Gönderici Telefon"></td>
						</tr>
						<tr>
							<th scope="row">Email</th>
							<td><input type="email" class="form-control" id="SenderEmail" name="SenderEmail" placeholder="Gönderici Email"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<h4>Alıcı Bilgileri</h4>
				<table class="table">
					<tbody>
						<tr>
							<th scope="row">Adı</th>
							<td><input type="text" class="form-control" id="RecipientName" name="RecipientName" placeholder="Alıcı Adı"></td>
						</tr>
						<tr>
							<th scope="row">Soyadı</th>
							<td><input type="text" class="form-control" id="RecipientSurname" name="RecipientSurname" placeholder="Alıcı Soyadı"></td>
						</tr>
						<tr>
							<th scope="row">Telefon</th>
							<td><input type="text" class="form-control" id="RecipientPhone" name="RecipientPhone" placeholder="Alıcı Telefon"></td>
						</tr>
						<tr>
							<th scope="row">Email</th>
							<td><input type="email" class="form-control" id="RecipientEmail" name="RecipientEmail" placeholder="Alıcı Email"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<h4>Kargo Bilgileri</h4>
				<table id="cargo" class="table">
					<tbody>
						<tr>
							<th scope="row">Takip Numarası</th>
							<td><input type="text" class="form-control" id="TrackingNumber" name="TrackingNumber" placeholder="Kargo Takip Numarası"></td>
							<td><a class="btn btn-primary">Numara Oluştur</a></td>
						</tr>
						<tr>
							<th scope="row">Durumu</th>
							<td><select class="form-control select2" id="Status" name="Status" placeholder="Kargo Durumu"></select></td>
						</tr>
						<tr>
							<th scope="row">Çıkış Tarihi</th>
							<td><input type="date" class="form-control" id="ExitDate" name="ExitDate"></td>
						</tr>
						<tr>
							<th scope="row">Teslimat Adresi</th>
							<td><textarea class="form-control" id="DeliveryAddress" name="DeliveryAddress" placeholder="Teslimat Adresi"></textarea></td>
						</tr>
						<tr>
							<th scope="row">Çıkış Şubesi</th>
							<td><select class="form-control select2" id="Branch" name="Branch" placeholder="Çıkış Şubesi"></select></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="d-grid gap-2">
				<button type="submit" class="btn btn-success">Kargoyu Oluştur</button>
			</div>
		</div>
	</form>
</div>

@section Scripts{
	<script>
		
		$(document).ready(function(){
			
			fillDdlBranch();
			fillDdlStatus();
		})


		function fillDdlBranch(){
			$('#Branch').select2({ width: '100%', dropdownParent: $('#cargo') });
			$.ajax({
				type:'Get',
				url:'/Branch/GetAll',
				success: function(res){
					console.log(res);
					$('#Branch').empty();
					for(var item of res.data)
					{
						$('#Branch').append(new Option(item.name, item.id,false,false));
					}
				}
			});
		}

		function fillDdlStatus(){
			$('#Status').select2({width:'100%', dropdownParent: $('#cargo')});
			$.ajax({
				type:'Get',
				url:'/Status/GetAll',
				success: function(res){
					$('#Status').empty();
					for(var item of res.data)
					{
						$('#Status').append(new Option(item.name, item.id, false, false))
					}
				}
			});
		}
	</script>
}