<div>
	<div class="card">
		<div class="card-header  text-white bg-success bg-gradient">
			<span class="fs-4">Şube Listesi</span>
			<a href="#" id="btnEkle" class="btn btn-warning ms-2">Şube Ekle</a>
		</div>
		<div class="card-body" style="overflow:auto">
			<table id="tblBranches" class="table table-bordered table-striped" style="width:100%">
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Şube Ekle </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="mb-3">
						<label class="form-label">Şube Adı</label>
						<input type="text" id="txtName" class="form-control">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
				<a href="#" id="btnSave" class="btn btn-primary">Kaydet</a>
			</div>
		</div>
	</div>
</div>


@section Scripts{
	<script>
		var DataTable;

		$(document).ready(function () {
			fillDataTable();
		})

		function fillDataTable() {
			DataTable = $('#tblBranches').DataTable({
				ajax: '/Branch/GetAll',
				columns: [
					{ data: 'id', title: 'Id', width: '350px' },
					{ data: 'name', title: 'Şube Adı' },
					{
						data: 'id', title: 'İşlemler', render: function (data) {
							return `
											<a href="#" onclick="deleteBranch('${data}')" class="btn btn-danger">Sil</a>
											<a href="#" onclick="editBranch('${data}')" class="btn btn-primary">Düzenle</a>
									`;
						}
					}
				]
			})
		}


		function deleteBranch(branchId) {
			Swal.fire({
				title: 'Silmek istediğinize emin misiniz?',
				text: "Şube Silinecek",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3095d6',
				cancelButtonColor: '#d37',
				confirmButtonText: 'Sil!'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						type: 'Post',
						url: '/Branch/Remove',
						data: {
							id: branchId
						},
						success: function () {
							Swal.fire(
								'Başarılı!',
								'Şube silindi.',
								'success'
							);
							DataTable.ajax.reload();
						},
						error: function () {
							Swal.fire({
								icon: 'error',
								title: 'Silme işlemi başarısız!',
								text: 'Bir şeyler yanlış gitti!'
							});
						}
					});
				}
			});
		}

		$('#btnEkle').click(function () {
			$('#modal').modal('show');
			$('#txtName').val("");
			$('#modalTitle').text("Şube Ekle");
			$('#btnSave').removeClass('btn-success').addClass('btn-primary').val('Kaydet');
			$('#btnSave').off();
			$('#btnSave').click(function () {
				$.ajax({
					type: 'Post',
					url: '/Branch/Create',
					data: { name: $('#txtName').val() },
					success: function () {
						toastr.success('Şube Başarıyla Eklendi.');
						DataTable.ajax.reload();
						$('#modal').modal('hide');
					},
					error: function () {
						toastr.error('Şube eklenirken bir hata oluştu!');
						$('#modal').modal('hide');
					}
				})
			})
		})


	</script>
}